@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #ffffff;
}

.page-main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.btn {
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.btn-primary{
  background-color: #756157;
}

.btn-secondary {
  background-color: #82B3D3;
}

.btn-success {
  background-color: #7DB54F;
}

.btn-large {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.h2-title, .h3-title {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.h1-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.h2-title {
  font-size: 30px;
  line-height: 36px;
}

.h3-title {
  font-size: 24px;
  line-height: 28px;
}

.h2-description {
  font-size: 22px;
  line-height: 26px;
}

.container {
  max-width: 1060px;
  display: flex;
  gap: 30px;
  margin: 0 auto;
}

.container-inner {
  max-width: 1060px;
  margin: 0 auto;
}

/* Header */
.page-header {
  color: #000000;
}

/* .page-header .container {
  height: 64px;
} */

.page-header li {
  list-style-type: none;
}

.page-header a {
  text-decoration: none;
}

.logo {
  position: relative;
  margin-bottom: -10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex;
}

.nav-user-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-user-item {
  display: flex;
  align-items: center;
  min-width: 44px;
  min-height: 64px;
}
.nav-user-item:has(.btn) {
  margin-left: 20px;
}

.nav-link {
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
}

.nav-btn {
  padding: 8px 34px;
}

/* Main */
.main-index {
  text-align: center;
}

.main-index li,
.main-inner li {
  list-style-type: none;
}

.main-index a,
.main-inner a {
  text-decoration: none;
}

/* Hero */
.hero {
  background-color: #ddebf4;
  background-image: url("../images/hero-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero-img {
  padding: 51px 0 82px;
  vertical-align: middle;
}

/* Advantages */
.advantages-header {
  padding: 69px 0 90px;
}

.advantages-title {
  margin: 0;
  padding-bottom: 25px;
}

.advantages-description {
  margin: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-basis: 400px;
}

.advantages-item.item-with-img {
  flex-basis: 1200px;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item.item-with-img {
  color: #ffffff;
  background-color: #82B3D3;
}

.item-with-img .h3-title {
  color: inherit;
}

.advantages-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 385px;
  padding: 0 85px;
}

.advantages-card-title {
  margin-top: 0;
  margin-bottom: 56px;
}

.advantages-card-description {
  margin: 0;
}

.item-reverse {
  flex-direction: row-reverse;
}

/* Services */
.services-header {
  padding: 64px 0;
}

.services-title {
  margin: 0;
  padding-bottom: 20px;
}

.services-description {
  margin: 0;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.services-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 385px;
  flex-basis: 400px;
  padding: 0 85px;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-card-title {
  margin: 102px 0 30px;
}

.services-card-description {
  margin: 0;
}

/* Search */
.search-header {
  padding: 96px 0 54px;
}

.search-title {
  margin: 0;
  padding-bottom: 54px;
}

.search-description {
  margin: 0;
}

.search-btn {
  margin-bottom: 96px;
}


/* Subscribe */
.subscribe-index {
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #ddebf4;
}

.subscribe-index .h2-title {
  color: inherit;
}

.subscribe-inner {
  text-align: center;
}

.subscribe-header {
  padding-top: 96px;
  padding-bottom: 54px;
}

.subscribe-title {
  margin: 0;
}

.subscribe-description {
  margin: 20px 0 0;
}

.subscribe-form {
  padding-bottom: 104px;
}

.subscribe-btn {
  border-radius: 0 4px 4px 0;
}

/* Footer */
.page-footer .container {
  padding: 40px 0 30px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item {
  min-width: 47px;
  min-height: 40px;
}

.phone {
  margin: 0 auto;
}

.phone-number {
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.author-logo {
  min-width: 115px;
  min-height: 33px;
}

/* Filter */
.header-inner {
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #ddebf4;
}

.header-inner .container-inner {
  padding: 35px 0 70px;
}

.header-inner-title {
  margin: 0;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 8px 0 0;
}

.breadcrumbs-link {
  color: inherit;
}

.filter {
  display: flex;
  gap: 30px;
  padding-top: 32px
}

.filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-group:nth-child(2) {
  margin-right: auto;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.filter-list {
  margin: 0;
  padding: 32px 0 0;
}

.filter-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 32px;
}

.range-container {
  padding-top: 32px;
}

.btn-reset {
  background-color: transparent;
}

/* Catalog List */
.catalog-header {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.catalog-title {
  margin: 0 auto 0 0;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 40px 0;
  border-bottom: 1px solid #E6E6E6;
}

.catalog .btn {
  display: inline-block;
  width: 140px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.view-modes {
  display: flex;
  gap: 8px;
  margin-left: 70px;
  padding: 0;
}

.view-mode {
  min-width: 48px;
  min-height: 48px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.view-mode.view-mode-selected {
  border: 2px solid #000000;
}

.product-card {
  padding: 19px;
  border: 1px solid #E6E6E6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 16px;
  border-radius: 4px;
}

.product-card-title {
  margin: 16px 0 0;
}
.product-card-title.h3-title {
  text-transform: none;
}
.product-card-img {
  vertical-align: middle;
}

.product-card-link {
  grid-column: 1 / -1;
  color: #000000;
}

.product-card-price {
  justify-self: end;
}

.product-card-btns {
  display: flex;
  gap: 20px;
  padding-top: 16px;
}

.product-card-rating {
  padding: 9px 22px 8px 23px;
  color: #333333;
  font-weight: 400;
  background-color: #F2F2F2;
}

/* Pagination */
.pagination {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 40px 0 60px;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;

}

.pagination-link {
  color: #ffffff;
}
.pagination-item-current .pagination-link {
  color: #000000;
}

.pagination-item-current,
.pagination-item-more {
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
